openai
HTMLParser~=0.0.2
PyQRCode~=1.2.1
qrcode>=7.4.2
requests
chardet>=5.1.0
Pillow
pre-commit
ntchat
ntwork
langid
pyttsx3
gTTS
pysilk
pydub
pip
pilk
web.py~=0.62
aiohttp~=3.8.5
Pillow>=10.0.0
uvicorn
fastapi
pydantic
beautifulsoup4
PyMySQL
mysql-connector-python