openai~=0.27.8
HTMLParser~=0.0.2
PyQRCode~=1.2.1
qrcode>=7.4.2
requests~=2.31.0
chardet>=5.1.0
Pillow~=10.0.0
pre-commit
ntchat~=0.1.20
ntwork~=0.1.3
langid~=1.1.6
pyttsx3~=2.90
gTTS~=2.3.2
pysilk~=0.0.1
pydub~=0.25.1
pip~=22.3.1
pilk~=0.2.4
web.py~=0.62
aiohttp~=3.8.5
Pillow>=10.0.0
uvicorn~=0.23.2
fastapi~=0.101.0